# requires python3
boto
boto3
ConfigParser
configobj
jinja2
names
python-swiftclient
PyYaml
s3cmd
simplejson
swiftly
paramiko @ git+https://github.com/TejasC88/paramiko#egg=paramiko 
pandas
pyarrow

# for v1
#psutil
rgwadmin

# for checks
black
isort
yamllint
tox
